body {
  text-align: center;
}

h1 {
  color: blue;
}

img {
  width: 854px;
  height: 480px;
}

button {
  margin: 10px;
}

#back {
  width: 40px;
  height: 40px;
}

#pause {
  width: 40px;
  height: 40px;
}

#close {
  width: 40px;
  height: 40px;
}

#play {
  width: 40px;
  height: 40px;
}

#next {
  width: 40px;
  height: 40px;
}

#volume-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#volume {
  flex-grow: 1;
}

#volumeLabel {
  font-size: 14px;
  margin-left: 10px;
}
